python-dotenv
Django~=6.0.7
Pillow
django-countries
djangorestframework
drf-spectacular
django-ipware
djangorestframework-simplejwt
django-ckeditor
django-jet-reboot
python-magic
bleach
#python-magic-bin